
         
         <div id="mainArea">
       
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div>
           <div class="panel panel-default">
  			<div class="panel-body">
    			<h3 class="sub-header">Patient Alerts- frag</h3>
              <div ng-controller="getPatientListExpired" >
            		 <table class="table table-condensed">
              			<thead>
                			<tr>
                  			<th>Name</th>
                  			<th>Task</th>
                  			<th>Task Expiration</th>
                  			<th>Study Eye</th>
                  			<th>Study Name</th>
                  		 	<th>Location</th> 
                  			<th>Phone Number</th>
                  			<th>Doctor</th>
                			</tr>
              			</thead>
          
              <tbody>
              <tr ng-repeat="item in holder.patient">
              <td> {{item.fullName}}</td>
              <td> {{item.workflowName}}</td>
              <td> {{item.taskExpiration}}</td>
              <td> {{item.studyeye}}</td>
              <td> {{item.studyName}}</td>
              <td> {{item.location}}</td>  
              <td> {{item.phone}}</td>
              <td> {{item.doctor}}</td>
              <td ng-hide="true"> {{item.patientTaskId}}  </td>
              <td ng-hide="true"> {{item.patientId}}</td>
              
                   <td><button ng-click="UpdatePatient()" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Edit Patient Data">
                  <span class="glyphicon glyphicon-user"></span>
                  </button></td> 
                  <td><button ng-click="UpdateTask()"  class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="Update Task Event">
                  <span class="glyphicon glyphicon-edit"></span>
                  </button></td> 
                </tr>
              </tbody>
            </table>
          </div>
  				</div>
		  </div>
          
          
          <div class="panel panel-default">
  			<div class="panel-body">
           <h3 class="sub-header">New Patients</h3>
           
           <div ng-controller="getPatientListNew" >
            		<table class="table table-condensed">
              			<thead>
                			<tr>
                  			<th>Name</th>
                  			<th>Task</th>
                  			<th>Task Expiration</th>
                  			<th>Study Eye</th>
                  			<th>Study Name</th>
                  			<th>Location</th>
                  			<th>Phone Number</th>
                  			<th>Doctor</th>
                			</tr>
              			</thead>
              <tbody>
              <tr ng-repeat="item in holder.patient">
              <td> {{item.fullName}}</td>
              <td> {{item.workflowName}}</td>
              <td> {{item.taskExpiration}}</td>
              <td> {{item.studyeye}}</td>
              <td> {{item.studyName}}</td>
              <td> {{item.location}}</td>
              <td> {{item.phone}}</td>
              <td> {{item.doctor}}</td>
              <td ng-hide="true"> {{item.patientTaskId}}  </td>
              <td ng-hide="true"> {{item.patientId}}</td>
              
             
                  <td><button ng-click="UpdatePatient()"  class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Edit Patient Data">
                  <span class="glyphicon glyphicon-user"></span>
                  </button></td> 
                  <td><button ng-click="UpdateTask()"  class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="Update Task Event">
                  <span class="glyphicon glyphicon-edit"></span>
                  </button></td>  
                </tr>
              </tbody>
            </table>
          </div>
           
        </div>
       </div>
          
          
         <div class="panel panel-default">
  			<div class="panel-body">
           <h3 class="sub-header">Patients On Schedule</h3>
           
           
            <div ng-controller="getPatientListPending" >
            		<table class="table table-condensed">
              			<thead>
                			<tr>
                  			<th>Name</th>
                  			<th>Task</th>
                  			<th>Task Expiration</th>
                  			<th>Study Eye</th>
                  			<th>Study Name</th>
                  			<th>Location</th>
                  			<th>Phone Number</th>
                  			<th>Doctor</th>
                			</tr>
              			</thead>
              <tbody>
              <tr ng-repeat="item in holder.patient">
              <td> {{item.fullName}}</td>
              <td> {{item.workflowName}}</td>
              <td> {{item.taskExpiration}}</td>
              <td> {{item.studyeye}}</td>
              <td> {{item.studyName}}</td>
              <td> {{item.location}}</td>
              <td> {{item.phone}}</td>
              <td> {{item.doctor}}</td>
              <td ng-hide="true"> {{item.patientTaskId}}  </td>
              <td ng-hide="true"> {{item.patientId}}</td>
                  <td><button ng-click="UpdatePatient()"  class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Edit Patient Data">
                  <span class="glyphicon glyphicon-user"></span>
                  </button></td> 
                  <td><button ng-click="UpdateTask()" class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="Update Task Event">
                  <span class="glyphicon glyphicon-edit"></span>
                  </button></td> 
                </tr>
              </tbody>
            </table>
          </div>
           
        
          </div>
          </div>
          
          <div class="panel panel-default">
  			<div class="panel-body">
           <h3 class="sub-header">Patients Enrolled</h3>
           
           <div ng-controller="getPatientListEnrolled" >
            		<table class="table table-condensed">
              			<thead>
                			<tr>
                  			<th>Name</th>
                  			<th>Task</th>
                  			<th>Task Expiration</th>
                  			<th>Study Eye</th>
                  			<th>Study Name</th>
                  			<th>Location</th>
                  			<th>Phone Number</th>
                  			<th>Doctor</th>
                			</tr>
              			</thead>
              <tbody>
              <tr ng-repeat="item in holder.patient">
              <td> {{item.fullName}}</td>
              <td> {{item.workflowName}}</td>
              <td> {{item.taskExpiration}}</td>
              <td> {{item.studyeye}}</td>
              <td> {{item.studyName}}</td>
              <td> {{item.location}}</td>
              <td> {{item.phone}}</td>
              <td> {{item.doctor}}</td>
              <td ng-hide="true"> {{item.patientTaskId}}  </td>
              <td ng-hide="true"> {{item.patientId}}</td>
                  <td><button ng-click="UpdatePatient()"  class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Edit Patient Data">
                  <span class="glyphicon glyphicon-user"></span>
                  </button></td> 
                  <td><button ng-click="UpdateTask()"  class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="Update Task Event">
                  <span class="glyphicon glyphicon-edit"></span>
                  </button></td> 
                </tr>
              </tbody>
            </table>
          </div>
           
           
          
          </div>
          </div>
          
           
          
        </div>
      </div>
      </div>