<!DOCTYPE html>
<html ng-app="appKitInlineChartsDemo">
	<head>
		<title>AppKit</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">    
		<link rel="shortcut icon" href="assets/images/favicon.ico">  
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel='stylesheet' type='text/css'>
				<link rel="stylesheet" href="assets/css/bootstrap.css">
				<link rel="stylesheet" href="assets/css/metisMenu.css">
				<link rel="stylesheet" href="assets/css/font-awesome.css">
				<link rel="stylesheet" href="assets/css/elegant-icons.css">
				<link rel="stylesheet" href="assets/css/pe-7-icons.css">
				<link rel="stylesheet" href="assets/css/pe-7-icons-helper.css">
				<link rel="stylesheet" href="assets/css/tether-shepherd.css">
				<link rel="stylesheet" href="assets/css/jstree-default.css">
				<link rel="stylesheet" href="assets/css/styles.css">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>	<body app-kit-responsive class="preload [[theme]]" ng-class="{'compact': compact, 'mobile': mobile, 'nav-toggled': navOpen}">
		<div class="alert alert-promo alert-dismissible slide text-center" role="alert" ng-if="showTopAlert">
		    <span id="top-alert-close" aria-hidden="true" class="icon icon_close close" ng-click="$parent.showTopAlert = false"></span>
		    <strong>Welcome to AppKit!</strong> Your trial will run out in 30 days  <a class="btn btn-success btn-sm margin-left-sm" href="pricing.html">Upgrade Now</a>
		</div>		<header class="header">
			<div class="branding float-left">
				<h1 class="logo text-center">
					<a href="index.html">
						<img class="logo-icon" src="assets/images/logo-icon.svg" alt="icon" />
						<span class="nav-label">
							<span class="highlight">App</span>Kit
						</span>
					</a>
				</h1>
			</div>
			<div class="topbar">
				<button class="main-nav-toggle" type="button" ng-click="navOpen = !navOpen">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<i class="icon fa fa-caret-left"></i>
				</button>
				<div class="search-container">
					<form id="main-search" class="main-search">
		    			<i id="main-search-toggle" class="fa fa-search icon" ng-click="showSearch = !showSearch"></i>
						<div id="main-search-input-wrapper" class="main-search-input-wrapper" ng-show="showSearch">
		    				<input type="text" id="main-search-input" class="main-search-input form-control" placeholder="Search..." app-kit-focus-on="showSearch">
		    				
		    				<span id="clear-search" aria-hidden="true" class="fs1 icon icon_close_alt2 clear-search"></span>
						</div>
					</form>
				</div>
				<div class="navbar-tools">
					<div class="utilities-container">
						<div class="utilities">
							<div class="item item-tour hidden-xs tour-trigger" tooltip-placement="bottom" uib-tooltip="Guided Tour" app-kit-tour ng-click="headerPopup = ''; tutorial = !tutorial" ><span class="sr-only">App Tour</span><span class="pe-icon pe-7s-info icon"></span></div>
							<div class="item item-side-panel">
		            			<i id="side-panel-toggle" class="side-panel-toggle panel-hide icon fa fa-signal" tooltip-placement="bottom" uib-tooltip="Activities" ng-click="headerPopup = headerPopup == 'side-panel' ? '' : 'side-panel'"><span class="badge badge-circle badge-warning">8</span></i>
		        			</div>
		        			
							<div class="item item-notifications" ng-class="{'open': headerPopup == 'notifications'}">
								<div class="dropdown-toggle" id="dropdownMenu-notifications" aria-expanded="true" role="button" ng-click="headerPopup = headerPopup == 'notifications' ? '' : 'notifications'">
									<span class="sr-only">Notifications</span>
									<span class="pe-icon pe-7s-bell icon" tooltip-placement="bottom" uib-tooltip="Notifiations"></span><span class="badge badge-circle badge-danger">3</span>
								</div>
								<div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-notifications">
									<span class="arrow"></span>
									<div class="notification-items no-overflow">
										<div class="item media">
											<div class="media-left profile">
												<img src="assets/images/profiles/profile-8.png" alt="" />
											</div>
											<div class="media-body">
												<a href="#">
													<span class="name">Albert E</span> <span class="action">replied to your comment</span> on "Maecenas tempus adipiscing consectetur adipiscing elit..."
												</a>
											</div>
											<div class="meta">
												2h ago
											</div>
										</div>
										<div class="item media">
											<div class="media-left profile">
												<img src="assets/images/profiles/profile-7.png" alt="" />
											</div>
											<div class="media-body">
												<a href="#">
													<span class="name">Julia A</span> <span class="action">sent you a message</span> "Hey Becky, thanks for doing this natoque penatibus et magnis dis parturient montes..."
												</a>
											</div>
											<div class="meta">
												1d ago
											</div>
										</div>
										<div class="item media">
											<div class="media-left profile">
												<img src="assets/images/profiles/profile-2.png" alt="" />
											</div>
											<div class="media-body">
												<a href="#">
													<span class="name">Rachel W</span> <span class="action">shared a file with you</span> "UX mocks for Nike"
												</a>
											</div>
											<div class="meta">
												3d ago
											</div>
										</div>
									</div>  
									<div class="dropdown-footer">
										<a href="#">View all notifications</a>
									</div>   						
								</div> 
							</div>
							<div class="item item-messages dropdown" ng-class="{'open': headerPopup == 'messages'}">
								<div class="dropdown-toggle" id="dropdownMenu-messages" aria-expanded="true" role="button" ng-click="headerPopup = headerPopup == 'messages' ? '' : 'messages'">
									<span class="sr-only">Messages</span>
									<span class="pe-icon pe-7s-mail icon" tooltip-placement="bottom" uib-tooltip="Messages"></span><span class="badge badge-circle badge-success">5</span>
								</div>
								<div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-messages">
									<span class="arrow"></span>
									<div class="message-items no-overflow">
										<div class="item media">
											<div class="media-left profile">
												<img class="profile" src="assets/images/profiles/profile-7.png" alt="" />
											</div>
											<div class="media-body">
												<a href="#">
													<span class="sender display-block">Julia Arnold</span>
													<span class="message-title display-block">Great News</span>
													<span class="excerpt display-block">"Hey Becky, thanks for doing this natoque penatibus et magnis dis parturient montes..."</span>
												</a>
											</div>
											<div class="meta">
												Apr 6
											</div>
										</div>
										<div class="item media">
											<div class="media-left profile">
												<img class="profile" src="assets/images/profiles/profile-1.png" alt="" />
											</div>
											<div class="media-body">
												<a href="#">
													<span class="sender display-block">Ken Davison</span>
													<span class="message-title display-block">RE: Help Needed</span>
													<span class="excerpt display-block">"No problem. I can help with the luctus est eu ullamcorper laoreet..."</span>
												</a>
											</div>
											<div class="meta">
												Apr 2
											</div>
										</div>
										<div class="item media">
											<div class="media-left profile">
												<img class="profile" src="assets/images/profiles/profile-4.png" alt="" />
											</div>
											<div class="media-body">
												<a href="#">
													<span class="sender display-block">Ryan Baker</span>
													<span class="message-title display-block">RE: UX resources for Nike</span>
													<span class="excerpt display-block">"Hi Becky, can you send me the wireframes? I need the finalised version..."</span>
												</a>
											</div>
											<div class="meta">
												Mar 28
											</div>
										</div>
										<div class="item media">
											<div class="media-left profile">
												<img class="profile" src="assets/images/profiles/profile-5.png" alt="" />
											</div>
											<div class="media-body">
												<a href="#">
													<span class="sender display-block">Sarah West</span>
													<span class="message-title display-block">Hello!</span>
													<span class="excerpt display-block">"Hello there, lorem ipsum dolor sit amet, consectetur adipiscing elit duis luctus..."</span>
												</a>
											</div>
											<div class="meta">
												Mar 25
											</div>
										</div>
										<div class="item media">
											<div class="media-left profile">
												<img class="profile" src="assets/images/profiles/profile-6.png" alt="" />
											</div>
											<div class="media-body">
												<a href="#">
													<span class="sender display-block">Carl Wilson</span>
													<span class="message-title display-block">RE: Design Resource</span>
													<span class="excerpt display-block">"Hi, Phasellus cursus libero quis ante commodo lobortis duis ac ante..."</span>
												</a>
											</div>
											<div class="meta">
												Mar 25
											</div>
										</div>
									</div>
									<div class="dropdown-footer">
										<a href="user-messages.html">View all messages</a>
									</div>  
								</div>
							</div>
							<div class="item item-more" ng-class="{'open': headerPopup == 'settings'}">
								<div class="dropdown-toggle" id="dropdownMenu-more" aria-expanded="true" role="button" ng-click="headerPopup = headerPopup == 'settings' ? '' : 'settings'">
									<span class="sr-only">More</span>
									<span aria-hidden="true" class="fs1 icon icon_grid-3x3" tooltip-placement="bottom" uib-tooltip="Settings &amp; Tools"></span>
								</div>
								<div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-more">
									<span class="arrow"></span>
									<h4 class="title">Settings &amp; Tools</h4>
									<ul class="more-list">
										<li><a role="menuitem" href="user-settings.html"><span class="pe-icon pe-7s-config icon"></span><br>Settings</a></li>
										<li><a role="menuitem" href="user-billing.html"><span class="pe-icon pe-7s-wallet icon"></span><br>Billing</a></li>
										<li><a role="menuitem" href="user-drive.html"><span class="pe-icon pe-7s-pendrive icon"></span><br>Drive</a></li>
										<li><a role="menuitem" href="user-messages.html"><span class="pe-icon pe-7s-chat icon"></span><br>Messages</a></li>
										<li><a role="menuitem" href="user-reminders.html"><span class="pe-icon pe-7s-clock icon"></span><br>Reminders</a></li>
										
										<li><a role="menuitem" href="help.html"><span class="pe-icon pe-7s-help2 icon"></span><br>Help</a></li>
									</ul>
								</div>						
							</div>
						</div>
					</div>
					<div class="user-container dropdown" ng-class="{'open': headerPopup == 'profile'}">
						<div class="dropdown-toggle" id="dropdownMenu-user" aria-expanded="true" role="button" ng-click="headerPopup = headerPopup == 'profile' ? '' : 'profile'">
							<img src="assets/images/profiles/profile-3.png" alt="" />
							<i class="fa fa-caret-down"></i>
						</div>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-user" >
							<li><span class="arrow"></span><a role="menuitem" href="user-profile.html"><span class="pe-icon pe-7s-user icon"></span>My Account</a></li>
							<li><a role="menuitem" href="pricing.html"><span class="pe-icon pe-7s-paper-plane icon"></span>Upgrade Plan</a></li>
							<li><a role="menuitem" href="login.html"><span class="pe-icon pe-7s-power icon"></span>Sign Out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>		<div class="main-nav-wrapper" ng-cloak>
			<nav id="main-nav" class="main-nav">
				<ul id="menu" app-kit-menu>
					<li  class="nav-dashboards ">
							<a href="#">
								<span aria-hidden="true" class="icon icon_house_alt"></span>
								<span class="nav-label">Dashboards</span>
								<span class="fa arrow"></span>
								</a>
								<ul class="sub-menu">
									<li  class=" ">
											<a href="index.html">
												<span class="nav-label">Use Case 1</span>
												</a>
									</li>
								</ul>
					</li>
					<li  class="nav-widgets ">
							<a href="widgets.html">
								<span aria-hidden="true" class="icon icon_drawer_alt"></span>
								<span class="nav-label">Widgets</span>
								<span class="badge badge-primary">12</span>
								</a>
					</li>
					<li  class=" ">
							<a href="projects.html">
								<span aria-hidden="true" class="icon icon_toolbox_alt"></span>
								<span class="nav-label">Projects</span>
								<span class="badge">56</span>
								</a>
					</li>
					<li  class=" ">
							<a href="tickets.html">
								<span aria-hidden="true" class="icon icon_box-checked"></span>
								<span class="nav-label">Tickets</span>
								</a>
					</li>
					<li  class=" ">
							<a href="invoices.html">
								<span aria-hidden="true" class="icon icon_documents_alt"></span>
								<span class="nav-label">Invoices</span>
								</a>
					</li>
					<li  class=" ">
							<a href="discussions.html">
								<span aria-hidden="true" class="icon icon_chat_alt"></span>
								<span class="nav-label">Discussions</span>
								</a>
					</li>
					<li  class=" ">
							<a href="activities.html">
								<span aria-hidden="true" class="icon icon_easel"></span>
								<span class="nav-label">Activities</span>
								</a>
					</li>
					<li  class=" ">
							<a href="members.html">
								<span aria-hidden="true" class="icon icon_group"></span>
								<span class="nav-label">Members</span>
								</a>
					</li>
					<li  class=" ">
							<a href="inbox.html">
								<span aria-hidden="true" class="icon icon_mail_alt"></span>
								<span class="nav-label">Inbox</span>
								<span class="badge">18</span>
								</a>
					</li>
					<li  class="nav-app-pages ">
							<a href="#">
								<span aria-hidden="true" class="icon icon_building"></span>
								<span class="nav-label">App Pages</span>
								<span class="badge badge-success">17</span>
								<span class="fa arrow"></span>
								</a>
								<ul class="sub-menu">
									<li  class=" ">
											<a href="project.html">
												<span class="nav-label">Project Details</span>
												</a>
									</li>
									<li  class=" ">
											<a href="member.html">
												<span class="nav-label">Member Profile</span>
												</a>
									</li>
									<li  class=" ">
											<a href="discussion.html">
												<span class="nav-label">Discussion Topic</span>
												</a>
									</li>
									<li  class=" ">
											<a href="user-profile.html">
												<span class="nav-label">User Profile</span>
												</a>
									</li>
									<li  class=" ">
											<a href="user-settings.html">
												<span class="nav-label">User Settings</span>
												</a>
									</li>
									<li  class=" ">
											<a href="user-billing.html">
												<span class="nav-label">User Billing</span>
												</a>
									</li>
									<li  class=" ">
											<a href="user-messages.html">
												<span class="nav-label">User Messages</span>
												</a>
									</li>
									<li  class=" ">
											<a href="user-drive.html">
												<span class="nav-label">User Drive</span>
												</a>
									</li>
									<li  class=" ">
											<a href="user-reminders.html">
												<span class="nav-label">User Reminders</span>
												</a>
									</li>
									<li  class=" ">
											<a href="pricing.html">
												<span class="nav-label">Pricing</span>
												</a>
									</li>
									<li  class=" ">
											<a href="invoice.html">
												<span class="nav-label">Invoice</span>
												</a>
									</li>
									<li  class=" ">
											<a href="timeline.html">
												<span class="nav-label">Timeline</span>
												</a>
									</li>
									<li  class=" ">
											<a href="faq.html">
												<span class="nav-label">FAQ</span>
												</a>
									</li>
									<li  class=" ">
											<a href="login.html">
												<span class="nav-label">Login Page</span>
												</a>
									</li>
									<li  class=" ">
											<a href="signup.html">
												<span class="nav-label">Signup Page</span>
												</a>
									</li>
									<li  class=" ">
											<a href="404.html">
												<span class="nav-label">404 Page</span>
												</a>
									</li>
									<li  class=" ">
											<a href="500.html">
												<span class="nav-label">500 Page</span>
												</a>
									</li>
								</ul>
					</li>
					<li  class=" ">
							<a href="#">
								<span aria-hidden="true" class="icon icon_puzzle"></span>
								<span class="nav-label">Components</span>
								<span class="fa arrow"></span>
								</a>
								<ul class="sub-menu">
									<li  class=" ">
											<a href="typography.html">
												<span class="nav-label">Typography</span>
												</a>
									</li>
									<li  class=" ">
											<a href="icons.html">
												<span class="nav-label">Icons</span>
												</a>
									</li>
									<li  class=" ">
											<a href="buttons.html">
												<span class="nav-label">Buttons</span>
												</a>
									</li>
									<li  class=" ">
											<a href="panels.html">
												<span class="nav-label">Panels</span>
												</a>
									</li>
									<li  class=" ">
											<a href="tabs.html">
												<span class="nav-label">Tabs</span>
												</a>
									</li>
									<li  class=" ">
											<a href="accordions.html">
												<span class="nav-label">Accordions</span>
												</a>
									</li>
									<li  class=" ">
											<a href="maps.html">
												<span class="nav-label">Maps</span>
												</a>
									</li>
									<li  class=" ">
											<a href="todo-list.html">
												<span class="nav-label">Todo</span>
												</a>
									</li>
									<li  class=" ">
											<a href="carousels.html">
												<span class="nav-label">Carousels</span>
												</a>
									</li>
									<li  class=" ">
											<a href="notifications.html">
												<span class="nav-label">Notifications</span>
												</a>
									</li>
									<li  class=" ">
											<a href="draggable.html">
												<span class="nav-label">Draggable</span>
												</a>
									</li>
									<li  class=" ">
											<a href="sortable.html">
												<span class="nav-label">Sortable</span>
												</a>
									</li>
									<li  class=" ">
											<a href="nestable.html">
												<span class="nav-label">Nestable</span>
												</a>
									</li>
									<li  class=" ">
											<a href="tree-view.html">
												<span class="nav-label">Tree</span>
												</a>
									</li>
									<li  class=" ">
											<a href="loaders.html">
												<span class="nav-label">Loaders</span>
												</a>
									</li>
									<li  class=" ">
											<a href="ui-misc.html">
												<span class="nav-label">Other UI Elements</span>
												</a>
									</li>
								</ul>
					</li>
					<li  class=" ">
							<a href="#">
								<span aria-hidden="true" class="icon icon_table"></span>
								<span class="nav-label">Tables</span>
								<span class="fa arrow"></span>
								</a>
								<ul class="sub-menu">
									<li  class=" ">
											<a href="tables-basic.html">
												<span class="nav-label">Basic</span>
												</a>
									</li>
									<li  class=" ">
											<a href="tables-datatables.html">
												<span class="nav-label">Datatables</span>
												</a>
									</li>
								</ul>
					</li>
					<li  class=" ">
							<a href="#">
								<span aria-hidden="true" class="icon icon_pencil-edit"></span>
								<span class="nav-label">Forms</span>
								<span class="fa arrow"></span>
								</a>
								<ul class="sub-menu">
									<li  class=" ">
											<a href="forms-basic.html">
												<span class="nav-label">Basic</span>
												</a>
									</li>
									<li  class=" ">
											<a href="forms-validation.html">
												<span class="nav-label">Validation</span>
												</a>
									</li>
								</ul>
					</li>
					<li  class=" active">
							<a href="#">
								<span aria-hidden="true" class="icon icon_piechart"></span>
								<span class="nav-label">Charts</span>
								<span class="fa arrow"></span>
								</a>
								<ul class="sub-menu">
									<li  class=" ">
											<a href="charts-chartjs.html">
												<span class="nav-label">Chart.js</span>
												</a>
									</li>
									<li  class=" ">
											<a href="charts-flot.html">
												<span class="nav-label">Flot Charts</span>
												</a>
									</li>
									<li  class=" ">
											<a href="charts-morris.html">
												<span class="nav-label">Charts Morris</span>
												</a>
									</li>
									<li  class=" active">
											<a href="charts-inline.html">
												<span class="nav-label">Inline Charts</span>
												</a>
									</li>
								</ul>
					</li>
					<li  class=" ">
							<a href="#">
								<span aria-hidden="true" class="icon icon_calendar"></span>
								<span class="nav-label">Calendars</span>
								<span class="fa arrow"></span>
								</a>
								<ul class="sub-menu">
									<li  class=" ">
											<a href="calendar-1.html">
												<span class="nav-label">Calendar v1</span>
												</a>
									</li>
								</ul>
					</li>
					<li  class=" ">
							<a href="#">
								<span aria-hidden="true" class="icon icon_flowchart"></span>
								<span class="nav-label">Menu Levels</span>
								<span class="fa arrow"></span>
								</a>
								<ul class="sub-menu">
									<li  class=" ">
											<a href="#">
												<span class="nav-label">Subnav Level 1</span>
												</a>
									</li>
									<li  class=" ">
											<a href="#">
												<span class="nav-label">Subnav Level 1</span>
												<span class="fa arrow"></span>
												</a>
												<ul class="sub-menu">
													<li  class=" ">
															<a href="#">
																<span class="nav-label">Subnav Level 2</span>
																</a>
													</li>
													<li  class=" ">
															<a href="#">
																<span class="nav-label">Subnav Level 2</span>
																</a>
													</li>
													<li  class=" ">
															<a href="#">
																<span class="nav-label">Subnav Level 2</span>
																</a>
													</li>
												</ul>
									</li>
									<li  class=" ">
											<a href="#">
												<span class="nav-label">Subnav Level 1</span>
												</a>
									</li>
								</ul>
					</li>
					<li role="presentation" class="divider ">
					</li>
					<li  class=" ">
							<a href="help.html">
								<span aria-hidden="true" class="icon icon_lifesaver"></span>
								<span class="nav-label">Help</span>
								<span class="label label-new">NEW</span>
								</a>
					</li>
				</ul>
			</nav>
		</div>		<div ng-cloak class="content-wrapper view" ng-controller="AppKitInlineChartsDemo">
	<div class="container-fluid">
		<h2 class="view-title">Inline Charts</h2>
		<div class="row" app-kit-masonry>
			<app-kit-module title="Peity" wrapper-class="masonry-item col-lg-12 col-md-12 col-sm-12 col-xs-12"><pane-body>
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-md">
						<h4 class="has-divider">Pie Charts</h4>
						<ul class="list list-inline">
							<li><peity-pie-chart data='["1/5"]'></pie-chart></li>
							<li><peity-pie-chart data='["226/360"]'></pie-chart></li>
							<li><peity-pie-chart data='["0.52/1.561"]'></pie-chart></li>
							<li><peity-pie-chart data='[1,4]'></pie-chart></li>
							<li><peity-pie-chart data='[226,134]'></pie-chart></li>
							<li><peity-pie-chart data='[0.52,1.041]'></pie-chart></li>
							<li><peity-pie-chart data='[1,2,3,2,2]'></pie-chart></li>
						</ul>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-md">
						<h4 class="has-divider">Donut Charts</h4>
						<ul class="list list-inline">
							<li><peity-donut-chart data='["1/5"]'> </donut-chart></li>
							<li><peity-donut-chart data='["226/360"]'></donut-chart></li>
							<li><peity-donut-chart data='["0.52/1.561"]'></donut-chart></li>
							<li><peity-donut-chart data='[1,4]'></donut-chart></li>
							<li><peity-donut-chart data='[226,134]'></donut-chart></li>
							<li><peity-donut-chart data='[0.52,1.041]'></donut-chart></li>
							<li><peity-donut-chart data='[1,2,3,2,2]'></donut-chart></li>
						</ul>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-md">
						<h4 class="has-divider">Line Charts</h4>
						<ul class="list list-inline">
							<li><peity-line-chart data='[5,3,9,6,5,9,7,3,5,2]'></line-chart></li>
							<li><peity-line-chart data='[5,3,2,-1,-3,-2,2,3,5,2]'></line-chart></li>
							<li><peity-line-chart data='[0,-3,-6,-4,-5,-4,-7,-3,-5,-2]'></line-chart></li>
						</ul>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-md">
						<h4 class="has-divider">Bar Charts</h4>
						<ul class="list list-inline">
							<li><peity-bar-chart data='[5,3,9,6,5,9,7,3,5,2]'></bar-chart></li>
							<li><peity-bar-chart data='[5,3,2,-1,-3,-2,2,3,5,2]'></bar-chart></li>
							<li><peity-bar-chart data='[0,-3,-6,-4,-5,-4,-7,-3,-5,-2]'></bar-chart></li>
						</ul>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-md">
						<h4 class="has-divider">Updating Charts</h4>
						<div class="no-overflow">
							<peity-line-chart class="peity-updating-chart" data="livechartdata" options="{ width: 800, height: 78 }"></line-chart>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-md">
						<h4 class="has-divider">Custom Charts</h4>
						<ul class="list list-inline margin-bottom-md">
							<li>
								<peity-pie-chart options='{ "fill": ["#6f7581", "#e1e7f4"], "radius": 32}' data='[18, 89]'></peity-pie-chart>
							</li>
							<li>
								<peity-pie-chart options='{ "fill": ["#75c181", "#e1fce6"], "radius": 32}' data='["3.2/5"]'></peity-pie-chart>
							</li>
							<li>
								<peity-pie-chart options='{ "fill": ["#58bbee", "#dbe8ee"], "radius": 32}' data='["146/360"]'></peity-pie-chart>
							</li>
							<li>
								<peity-pie-chart options='{ "fill": ["#f77b6b", "#f7e5e3"], "radius": 32}' data='["0.32/1.561"]'></peity-pie-chart>
							</li>
							<li>
								<peity-pie-chart options='{ "fill": ["#F8A13F", "#f8ecdf"], "radius": 32}' data='[2.2,4]'></peity-pie-chart>
							</li>
							<li>
								<peity-pie-chart options='{ "fill": ["#EA5395", "#f3dde7"], "radius": 32}' data='[22, 65]'></peity-pie-chart>
							</li>
						</ul>
						<ul class="list list-inline margin-bottom-md">
							<li>
								<peity-donut-chart options='{ "fill": ["#6f7581", "#e1e7f4"], "radius": 32, "innerRadius": 12}' data='[18, 89]'></peity-donut-chart>
							</li>
							<li>
								<peity-donut-chart options='{ "fill": ["#75c181", "#e1fce6"], "radius": 32, "innerRadius": 14}' data='["3.2/5"]'></peity-donut-chart>
							</li>
							<li>
								<peity-donut-chart options='{ "fill": ["#58bbee", "#dbe8ee"], "radius": 32, "innerRadius": 16}' data='["146/360"]'></peity-donut-chart>
							</li>
							<li>
								<peity-donut-chart options='{ "fill": ["#f77b6b", "#f7e5e3"], "radius": 32, "innerRadius": 18}' data='["0.32/1.561"]'></peity-donut-chart>
							</li>
							<li>
								<peity-donut-chart options='{ "fill": ["#F8A13F", "#f8ecdf"], "radius": 32, "innerRadius": 20}' data='[2.2,4]'></peity-donut-chart>
							</li>
							<li>
								<peity-donut-chart options='{ "fill": ["#EA5395", "#f3dde7"], "radius": 32, "innerRadius": 22}' data='[22, 65]'></peity-donut-chart>
							</li>
						</ul>
						<ul class="list list-inline margin-bottom-md">
							<li>
								<peity-line-chart options='{ "fill": "#84d991", "stroke": "#75c181", "strokeWidth": 2, "width": 200}' data='[5,3,9,6,5,9,7,3,5,2]'></peity-line-chart>
							</li>
							<li>
								<peity-line-chart options='{ "fill": "#75c5ee", "stroke": "#58bbee", "strokeWidth": 2, "width": 120}' data='[8,5,3,0,-2,-6,-2,2,3,5,2,8,5]'></peity-line-chart>
							</li>
							<li>
								<peity-line-chart options='{ "fill": "#f7978b", "stroke": "#f77b6b", "strokeWidth": 2, "width": 80}' data='[0,-3,-6,-4,-5,-4,-7,-3,-5,-2]'></peity-line-chart>
							</li>
							<li>
								<peity-line-chart options='{ "fill": "#f8ad59", "stroke": "#F8A13F", "strokeWidth": 2, "width": 100}' data='[6,2,5,6,3,9,7,3,5,2,6]'></peity-line-chart>
							</li>
							<li>
								<peity-line-chart options='{ "fill": "#ea78aa", "stroke": "#EA5395", "strokeWidth": 2, "width": 100}' data='[6,2,5,6,3,9,7,3,5,2,6,8,10,5,3]'></peity-line-chart>
							</li>
							<li>
								<peity-line-chart options='{ "fill": "#9947b9", "stroke": "#8A40A7", "strokeWidth": 2, "width": 100}' data='[6,2,5,6,3,9,7,3,5,2,6,8,10,5,3]'></peity-line-chart>
							</li>
						</ul>

						<ul class="list list-inline margin-bottom-md">
							<li>
								<peity-bar-chart options='{ "fill": ["#75c181","#58bbee"], "width": 300, "height":80}' data="[5,3,9,6,5,9,7,3,5,2, 4, 8, 2, 3]"></peity-bar-chart>
							</li>
							<li>
								<peity-bar-chart options='{ "fill": ["#6f7581","#40babd"], "width": 200, "height":80}' data="[5,3,2,-1,-3,-2,2,3,5,2]"></peity-bar-chart>
							</li>
							<li>
								<peity-bar-chart options='{ "fill": ["#EA5395","#8A40A7"], "width": 160, "height":80}' data="[0,-3,-6,-4,-5,-4,-7,-3,-5,-2]"></peity-bar-chart>
							</li>
						</ul>
					</div>
				</div>
			</pane-body></app-kit-module>
			<app-kit-module title="Easy Pie Chart" wrapper-class="masonry-item col-lg-12 col-md-12 col-sm-12 col-xs-12"><pane-body>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="chart-easy-pie text-center">
						<div class="percentage">
							<span easypiechart percent="'55'" options="easypiechartoptions">
								<span class="percent" ng-bind="'55'"></span>%
							</span>
						</div>
						<div class="note">New visitors</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="chart-easy-pie text-center">
						<div class="percentage">
							<span easypiechart percent="'68'" options="easypiechartoptions">
								<span class="percent" ng-bind="'68'"></span>%
							</span>
						</div>
						<div class="note">Bounce rate</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="chart-easy-pie text-center">
						<div class="percentage">
							<span easypiechart percent="'86'" options="easypiechartoptions">
								<span class="percent" ng-bind="'86'"></span>%
							</span>
						</div>
						<div class="note">New sessions</div>
					</div>
				</div>
			</div>
			</pane-body></app-kit-module>
			<app-kit-module title="Sparklines" wrapper-class="masonry-item col-lg-12 col-md-12 col-sm-12 col-xs-12"><pane-body>
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-md">
						<h4 class="has-divider">Line Chart</h4>
						<sparkline-line-chart data='[1,4,4,7,5,9,10,5,6,8,6]' options="sparkline1options"></sparkline-line-chart>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-md">
						<h4 class="has-divider">Bar Chart</h4>
						<sparkline-bar-chart data='[6,4,4,7,5,9,10,-5,-6,-3,4,6,3,8,10]' options="sparkline2options"></sparkline-bar-chart>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-md">
						<h4 class="has-divider">Pie Chart</h4>
						<sparkline-pie-chart data='[2, 2.5, 1.5, 3.5, 4]' options="sparkline3options"></sparkline-pie-chart>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-md">
						<h4 class="has-divider">Tristate chart</h4>
						<sparkline-tristate-chart data='[1,1,0,1,-1,-1,1,-1,0,0,1,1]' options="sparkline4options"></sparkline-tristate-chart>
					</div>
				</div>
			</pane-body></app-kit-module>
		</div>
	</div>
</div>
		<footer class="site-footer" ng-show="showFooter">
		    <div class="copyright">Copyright &copy; 2016 - <a href="#">Bootstrap Admin Theme</a></div>
		</footer>		<div id="side-panel" class="side-panel" ng-class="{'side-panel-open':headerPopup == 'side-panel'}">
		    <div class="side-panel-inner">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="headerPopup = ''"><span aria-hidden="true">&times;</span></button>
		        <h4 class="title text-center"><i class="fa fa-signal"></i>Activities</h4>
		        <div class="items-wrapper">
		            <div class="item">
		                <div class="symbol-holder">
		                    <button class="icon-container btn btn-warning btn-circle">
		                        <i class="icon fa fa-flag"></i>
		                    </button>
		                </div>
		                <div class="content-holder">
		                    <div class="subject-line">
		                        <strong>We have increased your storage to 10GB for Free!</strong>
		                    </div>
		                    <div class="excerpt">
		                        System notification
		                    </div>
		                    <div class="time-stamp">5 days ago</div>
		                </div>
		            </div>
		            <div class="item">
		                <div class="symbol-holder">
		                    <img class="user-profile" src="assets/images/profiles/profile-20.png" alt="" />
		                </div>
		                <div class="content-holder">
		                    <div class="subject-line">
		                        <a class="name" href="member.html">David Thomson</a> followed you.
		                    </div>
		                    <div class="excerpt">
		                        <div class="role">Full-Stack Developer</div>
		                        <div class="folowers"><span>12 Projects</span> | <span class="folowers">43 Followers</span></div>
		                    </div>
		                    <div class="time-stamp">3 mins ago</div>
		                </div>
		            </div>
		            <div class="item">
		                <div class="symbol-holder">
		                    <button class="icon-container btn btn-danger btn-circle">
		                        <i class="icon fa fa-heart"></i>
		                    </button>
		                </div>
		                <div class="content-holder">
		                    <div class="subject-line">
		                        <a class="name" href="#">Julie Wu</a> favourited your post.
		                    </div>
		                    <div class="excerpt">
		                        <div class="quote-text"><em>"Love your new design! Keep up the great work..."</em></div>
		                    </div>
		                    <div class="time-stamp">1 week ago</div>
		                </div>
		            </div>
		            <div class="item">
		                <div class="symbol-holder">
		                    <img class="user-profile" src="assets/images/profiles/profile-15.png" alt="" />
		                </div>
		                <div class="content-holder">
		                    <div class="subject-line">
		                        <a class="name" href="#">Julie Wu</a> followed you.
		                    </div>
		                    <div class="excerpt">
		                        <div class="role">Product Designer</div>
		                        <div class="folowers"><span>3 Projects</span> | <span class="folowers">8 Followers</span></div>
		                    </div>
		                    <div class="time-stamp">2 weeks ago</div>
		                </div>
		            </div>
		            <div class="item">
		                <div class="symbol-holder">
		                    <button class="icon-container btn btn-info btn-circle">
		                        <i class="icon fa fa-at"></i>
		                    </button>
		                </div>
		                <div class="content-holder">
		                    <div class="subject-line">
		                        <a class="name" href="#">James Lee</a> mentioned you on <a href="#">Project Lorem</a>.
		                    </div>
		                    <div class="excerpt">
		                        <div class="quote-text"><em>"Looks cool @Rebecca White"</em></div>
		                    </div>
		                    <div class="time-stamp">2 weeks ago</div>
		                </div>
		            </div>
		            <div class="item">
		                <div class="symbol-holder">
		                    <button class="icon-container btn btn-success btn-circle">
		                        <i class="icon fa fa-commenting"></i>
		                    </button>
		                </div>
		                <div class="content-holder">
		                    <div class="subject-line">
		                        <a class="name" href="#">Chris Adams</a> commented on <a href="#">Discussion Lorem</a>.
		                    </div>
		                    <div class="excerpt">
		                        <div class="quote-text"><em>"Can we improve the review process? At the moment consectetuer adipiscing elit..."</em></div>
		                    </div>
		                    <div class="time-stamp">Jan 10, 2016</div>
		                </div>
		            </div>
		            <div class="item">
		                <div class="symbol-holder">
		                    <button class="icon-container btn btn-pink btn-circle">
		                        <i class="icon fa fa-thumbs-up"></i>
		                    </button>
		                </div>
		                <div class="content-holder">
		                    <div class="subject-line">
		                        <a class="name" href="#">Kat Schultz</a> liked your discussion <a href="#">Discussion Lorem</a>.
		                    </div>
		                    <div class="time-stamp">Jan 8, 2016</div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>		<div class="config-panel hidden-xs" ng-class="{'config-panel-open': showConfigurator}">
			<div class="panel-inner">
				<a class="config-trigger config-panel-hide" href="#" ng-click="showConfigurator = !showConfigurator"><i class="fa fa-cog"></i></a>
				<div class="panel-section margin-bottom-md">
					<h5 class="panel-title">Choose Colour</h5>
					<ul id="color-options" class="list-unstyled list-unstyled">
						<li class="theme-1 active" ><a ng-click="theme = 'theme-1'"></a></li>
						<li class="theme-2"><a ng-click="theme = 'theme-2'"></a></li>
						<li class="theme-3"><a ng-click="theme = 'theme-3'"></a></li>
						<li class="theme-4"><a ng-click="theme = 'theme-4'"></a></li>
					</ul>
				</div>
				<div class="panel-section">
					<h5 class="panel-title">Toggles</h5>
					<div class="checkbox">
						<label>
							<input ng-model="showTopAlert" type="checkbox"> Top Alert
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input ng-model="showFooter" type="checkbox"> Footer
						</label>
					</div>
				</div>
				<a ng-click="showConfigurator = false" class="close" href="#"><span aria-hidden="true" class="icon icon_close"></span></a>
			</div>
		</div>		
				<script src="assets/js/jquery.js"></script>
				<script src="assets/js/metisMenu.js"></script>
				<script src="assets/js/masonry.js"></script>
				<script src="assets/js/pace.js"></script>
				<script src="assets/js/jquery-peity.js"></script>
				<script src="assets/js/jquery-sparkline.js"></script>
				<script src="assets/js/angular.js"></script>
				<script src="assets/js/angular-animate.js"></script>
				<script src="assets/js/ui-bootstrap-tpls.js"></script>
				<script src="assets/js/tether.js"></script>
				<script src="assets/js/tether-shepherd.js"></script>
				<script src="assets/js/angular-debounce.js"></script>
				<script src="assets/js/ng-common.js"></script>
				<script src="assets/js/ng-google-maps.js"></script>
				<script src="assets/js/ng-peity.js"></script>
				<script src="assets/js/ng-sparkline.js"></script>
				<script src="assets/js/ng-easy-pie-chart.js"></script>
				<script src="assets/js/app-kit-tour.js"></script>
				<script src="assets/js/ng-app.js"></script>
				<script src="assets/js/app-kit-inline-charts-demo.js"></script>
	</body>
</html>